<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/users/add">Add User</a></li>
    <li><a href="/users">View Users</a></li>
    <li><a href="/tasks/add">Add Task</a></li>
    <li><a href="/tasks">View Tasks</a></li>
    <li><a href="/users/export">Export Data</a></li>
  </ul>
</nav>